@import "tailwindcss";

/* :root { */
/* font-style: var(--font-geist-mono); */
/* } */

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }

  /* Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f1f5f9;
  }
}

video,
canvas {
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -100px;
  position: absolute;
  top: -50px;
}

.arrow {
  width: 18px;
  height: 18px;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  transform: rotate(-45deg);
  opacity: 0;
  animation: swipeUp 1.5s ease-in-out infinite;
}

.arrow {
  animation-delay: 0s;
}

@keyframes swipeUp {
  0% {
    opacity: 0;
    transform: translateY(35px) rotate(-45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0px) rotate(-45deg);
  }
}
